.recipesCardContainer{
    height: auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(207, 205, 205);
    border-radius: 20px;
    padding: 6px;
    margin:10px ;
    transition: all 0.2s ease;
}

.recipesCardContainer:hover{
    transform: scale(0.98);
}

.recipesCardContainer:active{
    transform: scale(0.95);
    border-color:rgb(255, 82, 82) ;
}

.recipesCardContainer .recipeCardImage{ 
    height:21vh;
    /* background-image: url("https://images.unsplash.com/photo-1512149177596-f817c7ef5d4c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.recipesCardContainer .recipeWishList{
  padding:10px 0px 0px 0;
  color: rgba(255, 94, 94, 0.658);
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
  position: absolute;
  right: 0px;
  bottom: 138px;
  margin-right: 10px;
}

.recipesCardContainer .recipeWishList:hover{
    color : rgb(255, 90, 90);
}


.recipesCardContainer .recipeWishList:active{
    transform: scale(0.9);
    color : rgb(255, 90, 90);
}

.recipesCardContainer .recipeNav-link{
    text-decoration: none;
    color: rgb(108, 107, 107);
}

.recipesCardContainer .recpeCardInfo{
  font-size: 25px;
  padding: 0px 10px;
  margin-top: 20px;
}

.recipesCardContainer .recipeExplore{
    display: flex;
    justify-content: center;
    padding:10px 25px;
}

.recipeExplore .exploreBtn{
    padding:10px 15px;
    font-size: 15px;
    background-color: rgb(114, 114, 255);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.recipeExplore .exploreBtn:active{
    transform: scale(0.9);
}


@media (max-width:480px){
    .recipesCardContainer{
        width: 250px;
    }    
}

@media (max-width:430px){
    .recipesCardContainer{
        width: 280px;
    }    
}